<nav class="global-nav" style="background-color:#074E68;">
  <div class="global-nav-title row">
    <div class="small-6 columns">
      <h3 style='color:white;line-height:2em;'>CN Golden View</h3>
    </div>
    <div class="small-2 columns" style='text-align:center;line-height:4em;'>
      <% if signed_in? %>
        <%= link_to('登出', destroy_admin_user_session_path, method: :delete, style: 'color:white;' ) %> 
      <% end %>
    </div>
  </div>
</nav>
