<div class="row  small-up-2 medium-up-3" style="margin-top:1em;">
  <div class="column">
    <div class="card">
      <div class="card-divider">
        <h4>半成品仓</h4>
      </div>
      <div class="card-section">
        <div class="">
          <p>待批准出仓(<%= link_to 7, orders_warehouses_path %>)</p>
          <p>已批准出仓(<a href="#">10</a>)</p>
          <p>待入库(<a href="#">3</a>)</p>
        </div>
        <div class="">
          <button class="hollow button " href="#">出仓</button>
          <button class="hollow button " href="#">入仓</button>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-divider">
        <h4>包装物料仓</h4>
      </div>
      <div class="card-section">
        <div class="">
          <p>待批准出仓(<a href="#">7</a>)</p>
          <p>已批准出仓(<a href="#">10</a>)</p>
          <p>待入库(<a href="#">3</a>)</p>
        </div>
        <div class="">
          <button class="hollow button " href="#">出仓</button>
          <button class="hollow button " href="#">入仓</button>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-divider">
        <h4>原材料仓</h4>
      </div>
      <div class="card-section">
        <div class="">
          <p>待批准出仓(<a href="#">7</a>)</p>
          <p>已批准出仓(<a href="#">10</a>)</p>
          <p>待入库(<a href="#">3</a>)</p>
        </div>
        <div class="">
          <button class="hollow button " href="#">出仓</button>
          <button class="hollow button " href="#">入仓</button>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-divider">
        <h4>其他仓...</h4>
      </div>
      <div class="card-section">
        <div class="">
          <p>待批准出仓(<a href="#">7</a>)</p>
          <p>已批准出仓(<a href="#">10</a>)</p>
          <p>待入库(<a href="#">3</a>)</p>
        </div>
        <div class="">
          <button class="hollow button " href="#">出仓</button>
          <button class="hollow button " href="#">入仓</button>
        </div>
      </div>
    </div>
  </div>
</div>
