<div class="row" style="margin-top:1em;">
  <div class="column">
    <div class="card">
      <div class="card-divider">
        <h4>出仓单</h4>
        <span  class="label primary">单号：CK20170505121212</span>
      </div>
      <div class="card-section">
        <div class="">
          <p>预售单号：<span  class="label primary">123123123123</span></p>
        </div>
        <div class="">
          <p>物料明细：</p>
          <div class="">
            <table class="unstriped">
              <thead>
                <tr>
                  <th>物料</th>
                  <th>仓库</th>
                  <th>规格1</th>
                  <th>规格2</th>
                  <th>数量</th>
                  <th>单位</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>壶盖</td>
                  <td>半成品仓</td>
                  <td>半径：5cm</td>
                  <td>材料：合金</td>
                  <td>1000</td>
                  <td>个</td>
                </tr>
                <tr>
                  <td>塑料</td>
                  <td>原材料仓</td>
                  <td></td>
                  <td></td>
                  <td>500</td>
                  <td>克</td>
                </tr>
                <tr>
                  <td>纸箱</td>
                  <td>包装仓</td>
                  <td>规格：5cmx5cm</td>
                  <td></td>
                  <td>200</td>
                  <td>个</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="">
          <p>申请人：<span class="label warning">张三</span></p>
        </div>
        <div class="">
          <p>审批状态：<span class="label alert">未批准</span></p>
        </div>
        <div class="">
          <p>审批人：<span class="label alert">无</span></p>
        </div>
        <div class="">
          <p>申请日期：<span class="label success">2017-06-01 10:30</span></p>
        </div>
        <div class="">
          <p>备注：预计损耗:4%</p>
        </div>
      </div>
    </div>
  </div>
</div>
