<div class="row" style="margin-top:1em;padding-left: 1em;">
  <h4>待批准出仓单</h4>
  <table>
    <thead>
      <tr>
        <th width="200">预售单号</th>
        <th width="100">申请人</th>
        <th width="150">申请时间</th>
        <th width="50">审批状态</th>
        <th>备注</th>
        <th width="100">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>123123123</td>
        <td>张三</td>
        <td>2017-07-07 10:30</td>
        <td><span class="label alert">未批准</span></td>
        <td>预计损耗:4%</td>
        <td><%= link_to '详情', order_warehouses_path %></td>
      </tr>
      <tr>
        <td>123123123</td>
        <td>张三</td>
        <td>2017-07-07 10:30</td>
        <td><span class="label alert">未批准</span></td>
        <td></td>
        <td><%= link_to '详情', order_warehouses_path %></td>
      </tr>
      <tr>
        <td>123123123</td>
        <td>张三</td>
        <td>2017-07-07 10:30</td>
        <td><span class="label alert">未批准</span></td>
        <td></td>
        <td><%= link_to '详情', order_warehouses_path %></td>
      </tr>
    </tbody>
  </table>
</div>
